---
layout: default
---

<h1 class="content-subhead">Welcome!</h1>

<p>
    Welcome, this site provides a journal of tunes that are play at our local session. The fundamental idea of the site is to record 
    the names of the tunes that are played over time and not to lose these. 
</p>
    
<p>
    Some biographical information of the composers of the tunes in the list is also given, it should be noted that this information  
    has been plagiarized from other websites and materials; link to those sources are included.    
</p>

<!--
<div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>
    {% for post in site.posts %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta">
                By <a href="#" class="post-author">{{post.author}}</a> on {{ post.date | date: "%b %-d, %Y" }}, categories:
                {% for c in post.categories %}
                  <span class="post-category post-category-pure">{{c}}</span>
                {% endfor %}
            </p>
        </header>

        <div class="post-description">
            <p>
                {{post.excerpt}}
            </p>
        </div>
    </section>

    {% endfor %}
</div>
-->

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

-->
