---
layout: default
---

<div>

<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>
    {% for post in site.posts %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta">
                By <a href="#" class="post-author">{{post.author}}</a> on {{ post.date | date: "%b %-d, %Y" }}, categories:
                {% for c in post.categories %}
                  <span class="post-category post-category-pure">{{c}}</span>
                {% endfor %}
            </p>
        </header>

        <div class="post-description">
            <p>
                {{post.excerpt}}
            </p>
        </div>
    </section>

    {% endfor %}
</div>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

-->
