---
# Only the blog Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$color-a: #5A120F; /* [a] color */
$color-b: #9C8246; /* Side Bar */
$color-c: #E2E6CD; /* [.brand-tagline] */
$color-e: #081696; /* [.content-subhead] color*/



.twcolourA {background-color: $color-a;}
.twcolourB {background-color: $color-b;}
.twcolourC {background-color: $color-c;}

#tw-random-select-popup {
  display: none;  /* Will be updated to block programatically. */
  position: absolute;
  z-index: 1002;
  padding: 6px;
  border: 2px solid $color-a;
  background-color: white;
}
#tw-set-details-popup {
  display: none;  /* Will be updated to block programatically. */
  position: absolute;
  z-index: 1003;
  padding: 6px;
  border: 2px solid $color-a;
  background-color: white;
}

.tw-table-full-width {
  width:100%;
}

.tw-align-top {
  vertical-align: top;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}


.button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }

    .button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .button-warning {
        background: rgb(223, 117, 20); /* this is an orange */
    }

    .button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-a;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: $color-b;
    color: $color-a;;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: $color-c;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid $color-c;
    color: $color-a;;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid $color-a;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: $color-a;
    border-bottom: 1px solid $color-a;;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: $color-a;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: $color-a;;
    background: #999;
    font-size: 80%;
}

.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: $color-a;;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}


.button-function {
  color:$color-a;
  background: $color-b ;
}

.shim-left-1 {
  margin-left: 1em;
}
.shim-bottom-1 {
  margin-bottom: 1em;
}

.shim-top-0 {
  margin-top: 0.5em;
}
.shim-top-1 {
  margin-top: 1em;
}


.tw-right
{
    float: right;
    margin-right:1em;
}

.tw-inline {
  display:inline;
}

.tw-center-text  {
  text-align: center;
}

@media (min-width: 36em) {
  .screen-size {
    background-color: yellow;
  }
}
@media (min-width: 48em) {
  .screen-size {
    background-color: orange;
  }
}

@media (min-width: 64em) {
  .screen-size {
    background-color: blue;
  }
}
@media (min-width: 80em) {
  .screen-size {
    background-color: red;
  }
}
@media (min-width: 100em) {
  .screen-size {
    background-color: green;
  }
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 20%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
